body {
    background: black;
    color: white;
    font-family: Verdana;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}

.active {
    color: #00FF00;
    text-decoration: underline;
    font-weight: bold;
}

main {
    margin-left: 20px;
    width: 75%;
}

button {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 192px;
    height: 30px;
    padding-left: 0px;
    color: #1c1c1c;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:active {
    background: #00FF00;
    transform: scale(0.95);
}

#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
}

input {
    border: 1px solid #949494;
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #282828;
    color: #e0e0e0;
}

.container{
    display: grid;
    grid-gap: 10px;
}

#test {
    background-color: blue;
    color: white;
    border: none;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
}
